# Python
venv/
env/
.env
__pycache__/
*.pyc

# Dependencies
lib/
node_modules/

# OS/Editor files
.DS_Store
.vscode/

# Logs
*.log
*.csv
*.zip
!ppo_self_improve.zip

/backups/
/venv310/
/checkpoints/
